img
{
	max-width:100%;
	border:0;
}

html,
button,
input,
select,
textarea 
{
    color: #222;
}

::-moz-selection 
{
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-container
{
	text-align:left;
}

body {
    font: 14px/22px Helvetica, Arial;
	margin:0;
	padding:0;
	text-align:center;
	background:url(../images/body-back.png);
}



.wrapper {
    width: 90%;
    margin: 0 5%;
}


.header-container
{
    background: #202020;
	position:relative;
	top:-22px;
	margin:0 auto;
	text-align:left;
}

.footer-container
{
    background: #f0f0f0;
	border-bottom: 20px solid #414141;
	margin-top:30px;
}

.title {
    color: white;
}


nav ul {
    margin: 0;
    padding: 0;
}

nav  a 
{
    display: block;
    margin-bottom: 5px;
    padding: 13px 0px 8px 0px;
	text-align: center;
    text-decoration: none;
    font-weight: bold;
	color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}



.main {
    padding: 10px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside 
{
    padding: 5px 8% 10px;
}

.footer-container footer {
    color: #666666;
    padding: 20px 0;
}



.ie7 .title {
    padding-top: 20px;
}


@media screen and (max-width: 600px) 
{
	nav ul li
	{
		clear:both;
	}
	
	nav
	{
		display:none;	
	}
	
	.bottom-right
	{
		clear:both;
	}
	
	.gplus-button
	{
		display:none;
	}
	
	.search-form-field 
	{
		width:140px !important;
	}
	
	.home-category
	{
		clear:both;
		width:100% !important;
	}
	
	.main aside 
	{
		float:left !important;
		padding-left:0 !important;
		width:100% !important;
	}
}



@media only screen and (min-width: 480px) {

    nav a {
        float: left;
       
        margin: 0 5%;
      
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }


    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {


	.header-container
	{
      
	
    }
    
    .main aside {
       
		line-height:1.1em;
    }


    .title {
        float: left;
    }

    nav {
        float: left;
    }

    .main article {
        float: left;
        width: 57%;
    }
	
	

	.right_panel
	{
		float: right;
		width:300px;
	}
	
	.left_panel
	{
		float: left;
        width: 65%;
	}
	
    .main aside 
	{
        float: right;
        width: 240px;
		border-top:1px solid #dbdbdb;
		border-bottom:1px solid #dbdbdb;
		margin-bottom:40px;
		background:#ececec;
    }
}

@media only screen and (min-width: 1140px) {


    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

 
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*MULTI LEVEL NAVIGATION MENU*/


nav ul ul 
{
	display: none;
}

nav ul li:hover > ul 
{
	display: block;
}



nav ul 
{
	list-style: none;
	position: relative;
	display: inline-table;
	
}


nav ul:after 
{
	content: ""; clear: both; display: block;
}


nav ul li 
{
	float: left;
	margin-right:40px;
}

nav ul li:hover 
{
	
}


	
nav ul li a 
{
	display: block; 
	margin:0;
	
}

	
	
nav ul ul 
{
	background: #f9f9f9; 
	 -webkit-box-shadow: 0 5px 10px #aaa;
     -moz-box-shadow: 0 5px 10px #aaa;
     box-shadow: 0 5px 10px #aaa;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
	
	position: absolute; 
	top: 100%;
	width:220px;
	
}

nav ul ul li 
{
	
	border-top:1px solid #cccccc;
	width:100%;
	clear:both;
	position: relative;
}
nav ul ul li a 
{
	text-align:left;
	padding-left:5px;
	color: #222222 !important;
}
	
nav ul ul li a:hover 
{
	
}
	
nav ul ul ul 
{
	position: absolute; 
	left: 100%; 
	top:0;
}

.rfloat
{
	float:right;
}

.lfloat
{
	float:left;
}

.top-right
{
	float:right;
}

.header-top
{
	height:90px;
}

h4
{
	margin-bottom:0px;
}

.news-date
{
	font-size:11px;
	float:right;
}

.bottom-menu
{
	margin-top:24px;
	list-style: none;
	display: inline-table;
	padding:0;
}

.bottom-menu li
{
	float:left;
	margin-right:20px;
}


form#main {
	
	padding: 2%;
	width: 90%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#eaeaea;
}

form#main fieldset 
{
	border: none;
	margin-bottom: 25px;
}

form#main fieldset:last-of-type 
{
	margin-bottom: 0;
}

form#main legend 
{
	
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}




form#main ol li 
{
	background: #f4f4f4;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	line-height: 30px;
	list-style: none;
	padding: 1% 2%;
	margin-bottom: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

form#main ol ol li 
{
	background: none;
	border: none;
	float: left;
}

form#main label {
	float: left;
	font-size: 13px;
	width: 120px;
}

form#main input:not([type=radio]),
form#main select,
form#main textarea {
	background: #ffffff;
	border: none;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 72%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
form#main input:not([type=submit]):focus,
form#main textarea:focus 
{
	background: #eaeaea;
}

form#main input[type=radio]
 {
	float: left;
	margin-right: 5px;
}

form#main button {
	background:#41b8f2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41b8f2', endColorstr='#0062c8'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#41b8f2), to(#0062c8)); 
	background: -moz-linear-gradient(top,  #41b8f2,  #0062c8); 
	
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	float:right;
	padding: 7px 25px;
}
form#main button:hover {
	background: #0062c8;
	cursor: pointer;
}


.home-category
{
	float:left;
	margin-right:3%;
	margin-bottom:4%;
	line-height:1.1em;
	
}

.sub-category
{
	float:left;
	margin-right:3%;
	line-height:1.6em;
}

.sub-category a
{
	color:#5f5f5f;
}

.category_link
{
	margin-bottom:4px;
	display:block;
	
}

.category_link a
{
	font-size:18px;
	font-weight:800;
	
	font-family: 'Source Sans Pro', 'sans-serif';
}

.sub_category_link
{
	color:#5f5f5f;
	font-size:11px;
	text-decoration:none;
}

.sub-text
{
	color:#5f5f5f;
	font-size:11px;
	text-decoration:none;
}

.sub_category_link:hover
{
	text-decoration:underline;
}


.listing_title
{
	
	font-size:18px;
	text-decoration:none !important;
	
}

.featured_listing_title
{
	color:#000000;
	font-size:18px;
	text-decoration:none !important;
}




.listing_description
{
	margin-bottom:8px;
}

.listing_posted_date
{
	font-size:10px;
}


.listing
{
	width:100%;
	
}

.listing,.result-text a
{
	color:#000000 !important;
}

.featured_listing a
{
	color:#000000 !important;
}

.featured_listing
{
	background: #F9E7C1;
	border:1px solid #F3A458;
	color:#000000 !important;
	padding:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.pagination-link
{
	
}

.found-item-back
{
	background:yellow;
}

.form-radio
{
	margin-top:3px;
}

.search-form-image
{
	float:left;
	margin-left:5px;
	
	width:26px;
	height:26px;
	max-width:100%;
}

.search-form-field 
{
	float:left;
	background: #ffffff;
	border: 1px solid #cccccc;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	height:25px;
	width: 170px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.clear
{
	clear:both;
}

.ralign
{
	text-align:right;
}

.category-count
{
	color:#5f5f5f;
}



.mselect
{ 
	width: 140px; 
	border: 0px solid black;
	text-indent: 3px;
	padding: 1px 0;
	cursor: hand;
	cursor: pointer;
}

.mselect .downimage
{ 
	position: absolute;
	right: -25px;
}

.mselect .dropdown
{ 
	position: absolute;
	left: 0px;
	width: 180px; 
	height: expression( this.scrollHeight > 150 ? "150px" : "auto" ); 
    max-height: 150px; 
	overflow:auto;
	border: 1px solid #808080;
	display: none;
	z-index: 5;
	font-weight: normal;background-color:white;
}

.mselect .dropdown a
{ 
	width: auto;
	display: block;
	border-bottom: 1px none #B4B4B4;
	padding: 1px 0;
	text-indent: 2px;
	text-decoration: none;
	color: black;
	background-color:#ffffff;
}

* html .mselect .dropdown a
{ 
	width: 100%;
}

.mselect .dropdown a:hover
{
	background: #0A246A;
	color:#ffffff;
}


.div_label
{
	float: left;
	font-size: 13px;
	width: 120px;
}

.div_field
{
	float:left;
	background: #ffffff;
	border: none;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	
	width: 73%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.top-container
{
	min-height:54px;
	background:#CCCCCC;
	text-align:left;
	
}


.img-shadow
{
	
	-webkit-box-shadow: 0 3px 10px #aaa;
    -moz-box-shadow: 0 3px 10px #aaa;
    box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}


.img-right-margin
{
	margin-right:15px;
}

.img-details-margin
{
	margin-right:10px;
	margin-bottom:10px;
}



.result-image
{
	background:#f9f9f9;
	float:left;
	text-align:center;
	width:100%;
	border:1px solid #eeeeee;
	border:1px solid #cccccc;
	-webkit-box-shadow: 0 3px 10px #aaa;
	-moz-box-shadow: 0 3px 10px #aaa;
	box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.result-image img
{
	margin-top:10px;
	margin-bottom:10px;
}

.final-result-image
{
	background:#f9f9f9;
	float:right;
	margin-left:30px;
	margin-bottom:20px;
	text-align:center;
	width:100%;
	padding:10px;
	border:1px solid #cccccc;
	-webkit-box-shadow: 0 3px 10px #aaa;
    -moz-box-shadow: 0 3px 10px #aaa;
    box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.final-result-image img
{
	margin-top:10px;
	margin-bottom:10px;
}

.result-text
{
	width:72%;
	float:left;
	margin-left:30px;
}

.button-link {
	background: #20a42c;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	float:right;
	padding: 7px 25px;
	text-decoration:none;
}


.button-link:hover
{
	background: #387E29;
	cursor: pointer;
	text-decoration:underline;
}

.gplus-button
{
	position:relative;
	top:4px;
	left:15px;
}
.clear-separator
{
	clear:both;
	height:18px;
}

.no-top-margin
{
	margin-top:0 !important;
}

.justify-align
{
	text-align:justify;
}

.carousel-icon
{
	position:relative;
	top:110px;
}

#myCarousel
{
	height:330px;
	background:#fcfcfc;
	border:6px solid #F3F3F3;
}

.slide-back-3
{
	width:100%;
	height:320px;
	background: #93cede; /* Old browsers */
background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* IE10+ */
background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */
}


.slide-back-2
{
	width:100%;
	height:320px;
	background: #a4b357; /* Old browsers */
background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a4b357 0%,#75890c 100%); /* IE10+ */
background: linear-gradient(to bottom, #a4b357 0%,#75890c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
}

.slide-back-1
{
	width:100%;
	height:320px;
background: #f9c667; /* Old browsers */
background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f9c667 0%,#f79621 100%); /* IE10+ */
background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}


.slide-back-6
{
	width:100%;
	height:320px;
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}


.slide-back-5
{
	width:100%;
	height:320px;
background: #eab92d; /* Old browsers */
background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eab92d 0%,#c79810 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eab92d 0%,#c79810 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eab92d 0%,#c79810 100%); /* IE10+ */
background: linear-gradient(to bottom, #eab92d 0%,#c79810 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
}

.slide-back-4
{
	width:100%;
	height:320px;
background: #f2825b; /* Old browsers */
background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
}

.indicator-image
{
	width:12%;
	margin-right:5px;
	 height:50px;
}



#main-login-form 
{
    -webkit-box-shadow: 0 3px 10px #aaa;
    -moz-box-shadow: 0 3px 10px #aaa;
    box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	line-height:1.1em;
	float: right;
    width: 450px;
	height:240px;
	position:absolute;      
	top: 50%;
    left: 50%;
    margin-top:-100px; 
    margin-left:-250px; 
	z-index:6001;
	border:4px solid #999999;
	background:#f3f3f3;
	margin-bottom:40px;
	padding: 5px 20px 10px;

	display:none;	
}

.no-margin
{
	margin-top:0px;
	margin-bottom:0px;
}

.red-font
{
	font-style: italic;
	color:red;
}

.close-login-icon
{
	float:right;
	position:relative;
	top:-4px;
	left:19px;
}



.form-field
{
	border:1px solid #aaaaaa;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	height:28px;
	min-width:200px;
	font-size:14px;
}



.admin_ibutton,.ibutton,.adminButton
{
	 background:#41b8f2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41b8f2', endColorstr='#0062c8'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#41b8f2), to(#0062c8)); 
	background: -moz-linear-gradient(top,  #41b8f2,  #0062c8); 

	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 16px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	
	padding: 7px 25px;
}

.admin_ibutton:hover,.ibutton:hover,.adminButton:hover
{
	background: #0062c8;
	cursor: pointer;
}

.no-display
{
	display:none;
}

.padding-40px
{
	padding-top:36px;
}

.margin-top-5
{
	margin-top:5px;
}

.margin-top-10
{
	margin-top:6px;
}

.add-border
{
	border:1px solid #F3F3F3;
}

.featured-advertisers
{
	height: 330px;
	width:100%;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.top-links
{
	font-family: 'Source Sans Pro', 'sans-serif';
	float:left;
	
}

@media (max-width: 768px) 
{
	.top-links
	{
		float:none;
	}
	
	.top-bar-padding
	{
		padding-top:0 !important;
	}
	
	.site-logo
	{
		padding-top:10px;
	}
	
}

@media (max-width: 768px) 
{
	.result-image
	{
		width: 100% !important;
		margin-bottom:30px;
	}
	
	.width-100
	{
		margin-top:20px;
	}
	
	.image-wrapper
	{
		
	}
	
	.result-text
	{
		clear:both;
		width: 100% !important;
		margin-left: 0px !important;
	}
}

.center-align
{
	text-align:center;
}

.underline-link
{
	text-decoration: underline;
}

.white-link
{
	color: #ffffff;
	font-size:13px;
	text-decoration:none;
}

.white-link:hover
{
	color: #dddddd;
	text-decoration:none;
}


.r-margin-18
{
	margin-right:14px;
}

.carousel-link
{
	color: #ffffff;
}

.carousel-link:hover
{
	color: #ffffff;
	text-decoration:none;
}

#footer
{
	background:#3a3a3a;
	padding:20px;
	color:#e8e8e8;
}

#footer hr
{
	border-color: #505050;
	background-color:#505050;
	color:#505050;
}

#footer a
{
	color:#e8e8e8;
}

.small-font
{
	font-size:11px;
}

.languages-menu
{
	padding-top:5px;
	padding-left:15px;
}	

.front-site-banner
{
	margin-right: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.coupon-show
{
	border:1px solid #ffa600;
	padding-left:8px;
	padding-right:8px;
	background:#ff6c00;
	color:#ffffff;
}

.coupon-wrap
{
	border:4px solid #ffedcc;
	
}


.rounded-borders
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.padding-3
{
	padding:3px;
}

.orange-link
{
	color:#ff6c00 !important;
}

.rclear
{
	clear: right;
}

.inline-display
{
	display: inline;
}

. bcollapse
{
	border-collapse:collapse
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.slogan
{
	color:white;
	font-size:11px;
	margin-left:18px;
}

.top-bar-padding
{
	padding-top:10px;
	
}

.main-container
{
	background:#ffffff;
	border:1px solid #d6d6d6;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

h3
{
	font-family: 'Source Sans Pro', 'sans-serif';
}

.deal-day
{
	margin-top:15px;
	color: #515151;
	font-size:16px;
	font-family: 'Source Sans Pro', 'sans-serif';
}

.rback-title
{
	position:relative;
	top:3px;
	color: #0055a7;
	font-size:18px;
	font-family: 'Source Sans Pro', 'sans-serif';
	text-shadow: 0.05em 0.05em #666666;
}

.rback
{
	height:36px;
	width:100%;
	text-align:center;
	background-image: url(../images/rback.png);
  
}

.rback-left
{
	height:36px;
	width:100%;
	background:url(../images/rback-left.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:left center; 
}

.listing-right
{
	background:url(../images/lbottom-back.png);
	background-repeat:repeat-x;
	padding-bottom:15px;
	padding-top:12px;
	background-position:center bottom; 
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0066cc;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.newsletter-field
{
	height:36px;
	font-size:16px;
	width:100%;
	border:1px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}


.btn-gradient:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-gradient {

  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  border-color: #e0e0e0;
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

.btn-gradient:active,
.btn-gradient.active {
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

.btn-gradient{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.no-right-padding
{
	padding-right:0 !important;
}

.no-left-padding
{
	padding-left:0 !important;
}


.add-top-bottom-margin
{
	margin-top:15px;
	margin-bottom:15px;
}


.btn-warning 
{
  width:100%;
  color: #7a1155 !important;
  font-weight:800 !important;
  font-size:16px !important;
  background:#cb58a3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f685cf', endColorstr='#cb58a3'); 
  background: -webkit-gradient(linear, left top, left bottom, from(#f685cf), to(#cb58a3)); 
  background: -moz-linear-gradient(top,  #f685cf,  #cb58a3); 
  border-color: #900968 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
}

.search-form-button
{
	position:relative;
	top:5px;
	float:right;
	
	padding-top:5px  !important;
}

.width-100
{
	width:100% !important;
	
}


/*pricing plans*/
.price {
  font-size: 4em;
}

.pricing-panel {
-webkit-transition-property : scale; 
-webkit-transition-duration : 0.2s; 
-webkit-transition-timing-function : ease-in-out; 
-moz-transition : all 0.2s ease-in-out; 

}

.pricing-panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);

}

.no-column-padding
{
	padding-left:0px !important;
	padding-right:0px !important;
}

/*end pricing plans*/


.result-stars
{
	float:left;
	position:relative;
	top:7px;
	left:15px;
}

.featured-hr
{
	border-top: 1px solid #F8D39C;
	background-color:#F8D39C;
	color:#F8D39C;
	margin-top:5px !important;
	margin-bottom:2px !important;
}

.smooth-separator
{
	width:100%;
	height:8px;
	background:url(../images/bottom_background.png);
	margin-top:3px;
	margin-bottom:3px;
}

.result-link
{
	text-decoration:none !important;
}

.margin-bottom-10
{
	margin-bottom:10px;
}

.expand-menu-link
{
	color:#ffffff;
	font-size:16px;
	margin-right:5px;
}



@media (max-width: 992px) 
{
	
	h3
	{
		font-size: 30px !important;
	}
	
	h5, h4, .featured_listing_title, .listing_title
	{
		font-size: 26px !important;
		
	}
	
	
	
	.bottom-menu li a
	{
		font-size:18px !important;
		
	}
	
	.navbar-nav li
	{
		padding-top:10px;
		border-top:1px solid #022750;
	}
	
	.navbar-nav li:hover
	{
		background: #325780;
	}
	
	.navbar-nav li:active
	{
		background: #325780;
	}
	
	.navbar-nav li:focus
	{
		background: #325780;
	}
	
	.bottom-menu
	{
		padding-left:30px;
		padding-right:30px;
	
	}
	
	.category_link, .category_link a
	{
		font-size: 26px !important;
		margin-top: 10px !important;
	}
	
	.rback-title, .btn-md, .underline-link, .deal-day 
	{
		font-size: 22px !important;
	}
	
	.nav li a
	{
		font-size: 22px !important;
	}
	
	.top-link, .btn-xs
	{
		font-size: 22px !important;
	}
	
	.expand-menu-link, .sub-text, .sub-cat-result
	{
		font-size: 18px !important;
	}
	
	.container
	{
		
		width:100% !important;
		min-width:100% !important;
	}
	
	.hide-sm
	{
		display:none;
		padding-left:0 !important;
		padding-right:0 !important;
	}

	.center-xs
	{
		text-align: center;
	}
	
	.search-form-wrap
	{
		float:left !important;
		padding-top:5px;
	}
		
}

.search-form-wrap
{
	float:right;
}