#thumbBox{ 
background:#ffffff;
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 20px;
padding-bottom: 0;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
	border:1px solid #cccccc;
	-webkit-box-shadow: 0 3px 10px #aaa;
    -moz-box-shadow: 0 3px 10px #aaa;
    box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#thumbBox .footerbar
{
	font-weight:800;
	text-decoration:underline;
	letter-spacing: 2px;
	line-height: 1.1em;
	color: #222222;
	padding: 5px 0;
	text-align: right;
}


#thumbBox #thumbImage
{ 
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#thumbLoading{ 
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}