.admin-container
{
	margin:0 auto;
	width:1020px;
	text-align:left;
	color:#333333;
}


.main-menu
{
	display:inline;
}

.main-menu li a
{
	margin-right:61px;
	margin-left:8px;
	text-decoration:none;
	color:#333333;
	font-size:13px;
	position:relative;
	top:4px;
}

.main-menu li
{
	
	height:41px;
	background-image:url('../images/default-menu.gif');
	margin-right:3px;
	float:left;
	list-style-type: none;
	list-style: none;
	background-repeat:repeat-x;
}

.main-menu .selected-item
{
	height:41px;
	margin-right:3px;
	background-image:url('../images/selected-menu.gif') !important;
	background-repeat:repeat-x;
}

.main-menu .selected-item a
{
	color: white !important;
}

.clear
{
	clear: both;
}

h1
{
	font-weight:400;
	font-size:36px;
}

.sub-menu 
{
	float:left;
	
	text-align:left;
}



.sub-menu a
{
	margin-top:2px;
	margin-bottom:10px;
	margin-right:20px;
	float:left;
	color:#333333;
	font-size:13px;
	text-align:left;
	text-decoration:none;
}

.f-right
{
	float:right;
}

.footer-information
{
	font-size:11px;
	
}

#control-panel
{
	float: right;
	width: 600px;
}

#information-panel
{
	float:left;
	width: 330px;
	color:#333333;
}

.large-tile
{
	width:98%;
	height:120px;
	background:#008ecd;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile:hover
{

	height:120px;
	background:#0481B8;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile h1
{
	color:white;
	padding-top: 25px;
	padding-left: 20px;
	margin-bottom:0px;
}

.large-tile h5
{
	color:white;
	margin-top: 0px;
	padding-left: 20px;
	font-size:16px;
	font-weight:400;
	
}

.small-tile
{
	width:190px;
	height:80px;
	background:#f0f1f4;
	float:left;
	margin-top:5px;
	margin-right:8px;
	
	color:#000000 !important;
	text-decoration:none;
	display:block;
}





.small-tile h3
{
	font-weight:400;
	font-size:20px;
	padding-left: 8px;
	margin-bottom:0px;
}

.small-tile h6
{
	font-weight:400;
	font-size:12px;
	padding-left: 8px;
	margin-top:3px;
}

#header
{

}

#footer
{
	width:100%;
	
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.blue-back
{
	border-bottom: 4px solid #5ea8de;
}

.blue-back:hover
{
	border-bottom: 4px solid #5ea8de;
	background:#5ea8de;
	color:#ffffff !important;
}

.gray-back
{
	border-bottom: 4px solid #9c9da0;
}

.gray-back:hover
{
	border-bottom: 4px solid #9c9da0;
	background:#9c9da0;
	color:#ffffff !important;
}

.lila-back
{
	border-bottom: 4px solid #7b4f9d;
}

.lila-back:hover
{
	border-bottom: 4px solid #7b4f9d;
	background:#7b4f9d;
	color:#ffffff !important;
}

.red-back
{
	border-bottom: 4px solid #f7866a;
}

.red-back:hover
{
	border-bottom: 4px solid #f7866a;
	background:#f7866a;
	color:#ffffff !important;
}

.yellow-back
{
	border-bottom: 4px solid #d8c967;
}

.yellow-back:hover
{
	border-bottom: 4px solid #d8c967;
	background:#d8c967;
	color:#ffffff !important;
}



.nav-link
{
	color:white !important;
}

#loading
{
	visibility:hidden;
}

.border-top
{
	border-top:1px solid #cccccc;
}

.border-bottom
{
	border-bottom:1px solid #cccccc;
}

#main-content
{    min-height:400px;
     height:auto !important;
     height:400px; 
	background:#ffffff !important;
}	



.rounded-borders
{
	behavior: url('border-radius.htc');
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.large-font
{
	font-size:32px;
	font-weight:800 !important;
}

.medium-font
{
	font-size:24px;
	font-weight:400 !important;
	color:#666666;
	
}

.small-font
{
	font-size:11px;
	font-weight:400 !important;
	color:#666666;
}

.mobile-medium-font
{
	font-size:18px;
	font-weight:400 !important;
	color:#666666;
	
}

.page-icon
{
	border:0;
	margin-right:6px;
	position:relative;
	top:10px;
	z-index:-1;
}

.fright
{
	float:right;
}

.login-form-label
{
	width:90px; 
	float:left;
}


.login-form-wrapper
{
	width:340px; 
	float:left; 
	margin:20px 10px 0 5px;
}

.login-form-field
{
	width:200px;
	height:32px;
	float:left; 
	margin-bottom:10px;
}

.draw-shadow
{
	-moz-box-shadow: 2px 2px 2px #c0c0c0;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
}

.login-advert
{
	width:450px;
	height:360px;
	
	float:left;
	margin-right:60px;
	
	background-color:#00A4E8;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00A4E8), to(#0175b8));
	background-image:-webkit-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-moz-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-ms-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-o-linear-gradient(top, #00A4E8, #0175b8);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00A4E8, endColorstr=#0175b8);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00A4E8, endColorstr=#0175b8)";
}

.fleft
{
	float:left;
}


.top-logout-link
{
	color:#333333 !important;
	margin-right:8px;
	text-decoration:none;
}

.yellow-back-text
{
	background: yellow;
}


#start-menu
{
	padding:0;
	margin:0;
}	

.start-menu-link
{
	margin-bottom:15px;
	float:left;
	font-size:24px;
	font-weight:400 !important;
}

.loading-image
{
	float:left;
	position:relative;
	left:10px;
	top:15px;
}

.table-tr
{
	height:36px;
	
	
	background-color:#00A4E8;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#999999));
	background-image:-webkit-linear-gradient(top, #dddddd, #999999);
	background-image:-moz-linear-gradient(top, #dddddd, #999999);
	background-image:-ms-linear-gradient(top, #dddddd, #999999);
	background-image:-o-linear-gradient(top, #dddddd, #999999);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#999999);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#dddddd, endColorstr=#999999)";
}

.header-td
{
	color:#ffffff !important;
}

.small-nav-link
{
	color:#333333 !important;
	font-size:12px;
}

.language-link
{
	z-index:1000;
	position:relative;
	color:#333333 !important;
	margin-right:10px;
}

.page-tile
{
	cursor: hand;
	cursor: pointer;
	width:300px;
	height:40px;
	background:#f0f1f4;
	float:left;
	margin-top:5px;
	margin-right:8px;
	
	color:#333333 !important;
	display:block;
	
	border-style:solid;
	border-color:#5ea8de;
	border-width:1px 1px 4px 1px;
	
}


.page-tile-text
{
	padding-top:8px;
	padding-left:6px;
}

.page-tile-text b
{
	text-decoration:underline;
}

.cursor-hand
{
	cursor: hand;
	cursor: pointer;
}

.form-edit-field
{
	width:370px;
}

.left-align
{
	text-align:left;
}

.mobile-link
{
	margin-left:10px;color:#333333 !important;position:relative;top:-8px
}

.left-margin-20px
{
	margin-left:20px;
}

.login-screen-image
{
	position:relative;
	top:50px;
	left:25px;
}

.login-screen-footer
{
	font-size:22px !important;
	color:white;
	text-align:center;
}

.admin-preview-thumbnail
{
	float:left;
	width:50px;
	margin-right:10px;
	margin-bottom:10px;
}

#largeImage 
{
	position: absolute;
	padding: 8px;
	background-color: #e3e3e3;
	border: 1px solid #bfbfbf;
}

.rfloat
{
	float:right;
}

.lfloat
{
	float:left;
}

input:not([type=radio]):not([type=submit]):not([type=checkbox]), select
{
	border:1px solid #dad9d9;
	height:34px;
	font-size:14px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}






.user-form fieldset 
{
	border: none;
	margin-bottom: 25px;
}

.user-form fieldset:last-of-type 
{
	margin-bottom: 0;
}

.user-form legend 
{
	
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}




.user-form ol li 
{

	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

.user-form ol ol li 
{
	background: none;
	border: none;
	float: left;
}

.user-form label {
	float: left;
	font-size: 13px;
	width: 120px;
}

.user-form input:not([type=radio]):not([type=submit]):not([type=checkbox]),
.user-form select,
.user-form textarea {
	background: #ffffff;
	border:1px solid #dad9d9;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 360px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.user-form input[type=radio]
 {
	float: left;
	margin-right: 5px;
}

.dashboard-left-column
{
	width:48%;
	margin-right:2%;
	float:left;
	text-align:left;
}

.dashboard-right-column
{
	width:48%;
	margin-left:2%;
	float:left;
	text-align:left;
}

.red-text
{
	color:#ff8a35;
}

h3
{
	margin-bottom:0px;
}

.margin-10
{
	margin-top:10px;
	margin-bottom:10px;
}

.dashboard-latest-ad
{
	text-align:center;
	width:85px;
	margin-right:10px;
	height:130px;
	float:left;
}

.dashboard-link
{
	line-height:36px !important;
	margin-left:1px;
}

.main-logo
{
	margin-top:5px;
}

.small-text
{
	font-size:10px;
}

.div_label
{
	margin-top:5px;
	width:95px !important;
}

.users-header-top
{
	height:75px;
}

.header-container
{
	height:48px;
}

.large-field
{
	width:390px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.main-top-link
{
	padding-left:10px !important;
	padding-right:10px !important;
	text-align:left;
}