body
{
	text-align:center;
	border:0;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

.admin-container
{
	margin:0 auto;
	width:980px;
	text-align:left;
	color:#333333;
}

hr
{
	width:100%;
	color:#cccccc;
	background-color:#cccccc;
	height:1px;
	border:0;
	clear:both;
}

.main-menu
{
	display:inline;
}

.main-menu li a
{
	margin-right:61px;
	margin-left:8px;
	text-decoration:none;
	color:#333333;
	font-size:13px;
	position:relative;
	top:4px;
}

.main-menu li
{
	
	height:41px;
	background-image:url('../images/default-menu.gif');
	margin-right:3px;
	float:left;
	list-style-type: none;
	list-style: none;
	background-repeat:repeat-x;
}

.main-menu .selected-item
{
	height:41px;
	margin-right:3px;
	background-image:url('../images/selected-menu.gif') !important;
	background-repeat:repeat-x;
}

.main-menu .selected-item a
{
	color: white !important;
}

.clear
{
	clear: both;
}

div,span,li,a,h1,h2,h3,h4,h5,h6,input,select,textarea
{
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
}

h1
{
	font-weight:400;
	font-size:36px;
}

.sub-menu 
{
	float:left;
	
	text-align:left;
}



.sub-menu a
{
	margin-top:2px;
	margin-bottom:10px;
	margin-right:20px;
	float:left;
	color:#333333;
	font-size:13px;
	text-align:left;
	text-decoration:none;
}

.f-right
{
	float:right;
}

.footer-information
{
	font-size:11px;
	
}

#control-panel
{
	float: right;
	width: 600px;
}

#information-panel
{
	float:left;
	width: 330px;
	color:#333333;
}

.large-tile
{
	width:98%;
	height:120px;
	background:#008ecd;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile:hover
{

	height:120px;
	background:#0481B8;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile h1
{
	color:white;
	padding-top: 25px;
	padding-left: 20px;
	margin-bottom:0px;
}

.large-tile h5
{
	color:white;
	margin-top: 0px;
	padding-left: 20px;
	font-size:16px;
	font-weight:400;
	
}


.small-tile
{
	width:220px;
	height:95px;
	padding:10px;
	float:left;
	margin-top:5px;
	margin-right:8px;
	color:#000000 !important;
	text-decoration:none;
	display:block;
	
}

.small-tile:hover
{
	text-decoration:none;
	
}


.small-tile h3
{
	font-weight:400;
	font-size:18px;
	padding-left: 8px;
	padding-top:15px;
}

.small-tile h6
{
	font-weight:400;
	font-size:12px;
	padding-left: 8px;
	margin-top:3px;
}

#header
{

}

#footer
{
	width:100%;
	
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.blue-back
{
	border-bottom: 4px solid #5ea8de;
}

.blue-back:hover
{
	border-bottom: 4px solid #5ea8de;
	background:#5ea8de;
	color:#ffffff !important;
}

.gray-back
{
	border-bottom: 4px solid #9c9da0;
}

.gray-back:hover
{
	border-bottom: 4px solid #9c9da0;
	background:#9c9da0;
	color:#ffffff !important;
}

.lila-back
{
	border-bottom: 4px solid #7b4f9d;
}

.lila-back:hover
{
	border-bottom: 4px solid #7b4f9d;
	background:#7b4f9d;
	color:#ffffff !important;
}

.red-back
{
	border-bottom: 4px solid #f7866a;
}

.red-back:hover
{
	border-bottom: 4px solid #f7866a;
	background:#f7866a;
	color:#ffffff !important;
}

.yellow-back
{
	border-bottom: 4px solid #d8c967;
}

.yellow-back:hover
{
	border-bottom: 4px solid #d8c967;
	background:#d8c967;
	color:#ffffff !important;
}

/*start menu*/
nav 
{
	font-size:12px;
	position:relative;
	left:-35px;
	top:6px;
}



nav ul ul 
{
	display: none;
	padding:0;
	margin:0;
}

nav ul li:hover > ul 
{
	display: block;
}


nav ul 
{
	
	list-style: none;
	position: relative;
	display: inline-table;
	
}

nav ul:after 
{
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li 
{
	float: left;
	
}

nav ul li:hover 
{
		
}
		
nav ul li:hover a 
{
	color:#333333 !important; 
	text-decoration:none !important;
}
		
nav ul li a 
{
	display: block; 
	color:#008ecd !important;
	text-decoration: none;
}
			
		
nav ul ul 
{
	
	text-align:left;
	padding: 0;
	position: absolute; 
	top: 100%;
}
	
nav ul ul li 
{
	float: none; 
	border-top: 1px solid #f2f2f2;
	position: relative;
	top:7px;
	left:-5px;
	padding: 10px 10px;
	width:150px;
	background:#f6f6f6;
}

nav ul ul li:hover
{
	float: none; 
	border-top: 1px solid #e0e0e0;
	position: relative;
	padding: 10px 10px;
	width:150px;
	background:#f2f2f2;
}
		
nav ul ul li a
{
	
}	

nav ul ul li a:hover 
{
	color:#000000 !important;
}
		
nav ul ul ul 
{
	position: absolute; 
	left: 100%; 
	top:0;
}


/*end start menu*/

.nav-link
{
	color:white !important;
}

#loading
{
	visibility:hidden;
}

.border-top
{
	border-top:1px solid #cccccc;
}

.border-bottom
{
	border-bottom:1px solid #cccccc;
}

#main-content
{    min-height:400px;
     height:auto !important;
     height:400px; 

}	

input, select, textarea
{
	
	border:1px solid #dad9d9;
	min-height:26px;
	font-size:16px;
}

.rounded-borders
{
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.large-font
{
	font-size:32px;
	font-weight:800 !important;
}

.medium-font
{
	font-size:24px;
	font-weight:400 !important;
	color:#666666;
	
}

.small-font
{
	font-size:11px;
	font-weight:400 !important;
	color:#666666;
}

.mobile-medium-font
{
	font-size:18px;
	font-weight:400 !important;
	color:#666666;
	
}

.page-icon
{
	border:0;
	margin-right:6px;
	position:relative;
	top:10px;
	z-index:-1;
}

.fright
{
	float:right;
}

.login-form-label
{
	width:90px; 
	float:left;
}


.login-form-wrapper
{
	width:340px; 
	float:left; 
	margin:20px 10px 0 5px;
}

.login-form-field
{
	width:200px;
	height:32px;
	float:left; 
	margin-bottom:10px;
}

.draw-shadow
{
	-moz-box-shadow: 0px 2px 0px #c6c6c6;
	-webkit-box-shadow: 0px 2px 0px #c6c6c6;
	box-shadow: 0px 2px 0px #c6c6c6;
}

.login-advert
{
	width:380px;
	
	margin:0 auto;
	
	background-color:#f7f7f7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.fleft
{
	float:left;
}

.top-right
{
	position:relative;
	top:2px;
	text-align:right;
	color:#2e8bcc;
	float:right;
	font-size:13px;
}

.top-logout-link
{
	color:#333333 !important;
	margin-right:8px;
	text-decoration:none;
}

.yellow-back-text
{
	background: yellow;
}


#start-menu
{
	padding:0;
	margin:0;
}	

.start-menu-link
{
	margin-bottom:15px;
	float:left;
	font-size:24px;
	font-weight:400 !important;
}

.loading-image
{
	float:left;
	position:relative;
	
	top:25px;
}

.table-tr
{
	height:44px;
	
	
	background-color:#00A4E8;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00A4E8), to(#0175b8));
	background-image:-webkit-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-moz-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-ms-linear-gradient(top, #00A4E8, #0175b8);
	background-image:-o-linear-gradient(top, #00A4E8, #0175b8);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00A4E8, endColorstr=#0175b8);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00A4E8, endColorstr=#0175b8)";
}

.header-td
{
	color:#ffffff !important;
}

.small-nav-link
{
	color:#333333 !important;
	font-size:12px;
}

.language-link
{
	z-index:1000;
	position:relative;
	color:#333333 !important;
	margin-right:10px;
}

a{color:#333333}


.page-tile
{
	cursor: hand;
	cursor: pointer;
	width:300px;
	height:40px;
	background:#f0f1f4;
	float:left;
	margin-top:5px;
	margin-right:8px;
	
	color:#333333 !important;
	display:block;
	
	border-style:solid;
	border-color:#5ea8de;
	border-width:1px 1px 4px 1px;
	
}


.page-tile-text
{
	padding-top:8px;
	padding-left:6px;
}

.page-tile-text b
{
	text-decoration:underline;
}

.cursor-hand
{
	cursor: hand;
	cursor: pointer;
}

.form-edit-field
{
	width:370px;
}

.left-align
{
	text-align:left;
}

.mobile-link
{
	margin-left:10px;color:#333333 !important;position:relative;top:-8px
}

.left-margin-20px
{
	margin-left:20px;
}

.login-screen-image
{
	position:relative;
	top:50px;
	left:25px;
}

.login-screen-footer
{
	font-size:22px !important;
	color:white;
	text-align:center;
}

.admin-preview-thumbnail
{
	float:left;
	width:50px;
	margin-right:10px;
	margin-bottom:10px;
}

#largeImage 
{
	position: absolute;
	padding: 8px;
	background-color: #e3e3e3;
	border: 1px solid #bfbfbf;
}


.top-container
{
	background: #e2f1fa;
	height:100px;
	text-align:left;
	padding-top:5px;
}

.nav-container
{
	background: #51a7da;
	min-height:40px;
	border-top:2px solid #2f95d2;
}

.search-container
{
	background: #7dcc26;
	padding-top:30px;
	padding-bottom:30px;
	border-top:2px solid #2f95d2;
}

.bottom-container
{
	background: #edf7fc;
	min-height:100px;
}

.top-bar
{
	background:#edf7fc;
	height:25px;
	margin: 0 !important;
	padding: 4px;
}

.main-top-link
{
	color: #050505 !important;
}

.top-bottom-margin
{
	margin-top:25px;
	margin-bottom:25px;
}

.tile-p
{
	
}


.t-padding
{
	padding-right:4px !important; 
	padding-left:4px !important;
}



.box-1-back
{
	background:#03997E;
}

.box-1-back:hover
{
	background:#008A77;
}


.box-2-back
{
	background:#7D3AE1;
}

.box-2-back:hover
{
	background:#6300B0;
}



.box-3-back
{
	background:#2D2D2D;
}

.box-3-back:hover
{
	background:#1b1b1b;
}


.box-4-back
{
	background:#2A61BE;
}

.box-4-back:hover
{
	background:#213BA7;
}


.box-5-back
{
	background:#716C4C;
}

.box-5-back:hover
{
	background:#3B491F;
}



.box-6-back
{
	background:#27A112;
}

.box-6-back:hover
{
	background:#35962B;
}


.box-7-back
{
	background:#C73D3D;
}

.box-7-back:hover
{
	background:#862F2F;
}


.box-8-back
{
	background:#E06C3B;
}

.box-8-back:hover
{
	background:#D05C00;
}


.menu-sub-link
{
	position:relative;
	top:-1px;
}

.site-logo
{
	position:relative;
	left: -13px;
}

.bottom-menu a
{
	color: #383838
}

.bottom-menu
{
	list-style-type: none;
	list-style: none;
	padding-top:30px;
	padding-bottom:10px;

}

.bottom-menu li
{
	
	margin-right:20px;
	display: inline;
}


.home-tile
{
	width:100%;
	height:130px;
	padding:10px;
		margin-top:5px;
	margin-right:8px;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.home-tile:hover
{
	text-decoration:none;
	
}

.home-tile h3
{
	font-weight:400;
	font-size:18px;
	padding-left: 8px;
	padding-top:20px;
}

.home-tile h6
{
	font-weight:400;
	font-size:12px;
	padding-left: 8px;
	margin-top:3px;
}

.top-links
{
	float:right;
}

.white-link
{
	color: white;
	text-decoration: underline;
}

.login-field
{
	background: #ffffff !important;
	background-color: #ffffff !important;
	border:1px solid #c0c0c0;
	width:300px;
	padding:8px;
	margin:0 auto;
	font-size:18px;
	color:#202020;
	-webkit-input-placeholder : #202020;
	-moz-placeholder: #202020;
	-ms-input-placeholder: #202020;
}

.no-top-border
{
	border-top:0px;
}

.login-button
{
	width:300px;
	margin-top:10px;
	font-weight:bold !important;
	
}


@media only screen and (min-width: 768px) 
{

	.navbar-collapse
	{
		float:right;
	}
	
	.main-top-link
	{
		font-size:14px !important;
	}
}

.menu-sub-link a
{
	text-decoration: none;
}



.admin-label
{
	float: left;
	font-size: 13px;
	width: 130px;
	clear:both;
	padding-top:10px;
}

.admin-field
{
	float:left;
	padding-top:4px;
}



.admin_ibutton,.ibutton,.adminButton
{
	 background:#57bdd4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bdd4', endColorstr='#0092a9'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#57bdd4), to(#0092a9)); 
	background: -moz-linear-gradient(top,  #57bdd4,  #0092a9); 

	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 16px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	text-decoration:none !important;
	padding: 7px 25px;
}

.admin_ibutton:hover,.ibutton:hover,.adminButton:hover
{
	background: #0092a9;
	cursor: pointer;
}

#ContextMenu
{
	background: #F6F6F6;
	z-index:1111;
}


.search-form-menu
{
	
	width:100%;

}

.listing-feature-div
{
	font-weight:400;
	text-size:11px;
	float:left;
	width:220px;
	margin-top:2px;
	margin-left:2px;
}

.listing-feature-span
{
	position:relative;
	top:-8px;
	left:3px;
}

.default-button
{
	height: 32px;
}



.gray-div-back
{
	background:#eaeaea;
	width: 100%;
	padding:15px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.setup-button
{
	float:right;
	margin-top:10px;
	padding-left:15px !important;
	padding-right:15px !important;
	font-weight:bold !important;
}

.setup-field
{
	min-height:32px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.setup-wrapper
{
	border-top:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	
	min-width:700px;
	min-height:350px;
}

.left-layout-col
{
	float:left;
	width:250px;
}


.right-layout-col
{
	float:left;
	text-align:left;
	width:420px;
	padding-left:10px;
	padding-right:30px;
}
