		</div>
		<div class="clear"></div>
		<br/>
		<br/>	
		<hr style="margin-bottom:5px"/>
		<span class="fleft"><a target="_blank" style="text-decoration:none" href="http://www.netartmedia.net">A software product of NetArt Media</a></span>
		<span class="fright"><a target="_blank" href="http://www.netartmedia.net/en_Contact.html" style="color:#0293aa;text-decoration:none">Need help?</a></span>
	</div>
</body>
</html>